{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  body {
    margin: 0;
    /* overflow: hidden; */
  }

  .background-image {
    background-image: url("https://res.cloudinary.com/dlthn5m1i/image/upload/v1702141266/home_pic_2_wlw10h.jpg");
    background-size: cover;
    padding: 80px;
    width: 100%;
    color: rgba(255, 255, 255, 0.95);
    animation: zoomIn 1.5s ease-out;
  }

  @keyframes zoomIn {
    from {
      transform: scale(1.1);
    }

    to {
      transform: scale(1);
    }
  }
</style>

<div class="screen-size">
  <div class="container">
    <div class="row">
      <div class="col-md-12 background-image">
        <div class="row">
          <div class="col-md-6">
            <div
              style="
                padding: 5px;
                background-color: rgba(0, 0, 0, 0.5);
                width: 100%;
                line-height: 2.3;
                text-align: left;
              "
            >
              <h2>Explore Exciting Online Courses</h2>
              <h4>
                Enhance your skills with our diverse range of online courses:
              </h4>

              <ul>
                <li>
                  <strong>Django with React | An Ecommerce Website</strong>
                </li>
                <li><strong>Learn Ethical Hacking From Scratch</strong></li>
                <li>
                  <strong
                    >The Complete Networking Fundamentals Course. Your CCNA
                    start</strong
                  >
                </li>
                <li>
                  <strong
                    >The Complete Python Bootcamp From Zero to Hero in
                    Python</strong
                  >
                </li>
                <li><strong>Machine Learning A-Z™: AI, Python & R</strong></li>
                <li>
                  <strong
                    >The Ultimate MySQL Bootcamp: Go from SQL Beginner to
                    Expert</strong
                  >
                </li>
                <li>
                  <strong
                    >Machine Learning for Absolute Beginners - Level 1</strong
                  >
                </li>
                <li><strong>The Git & Github Bootcamp</strong></li>
                <li>
                  <strong
                    >230+ Exercises - Python for Data Science - NumPy +
                    Pandas</strong
                  >
                </li>
                <li><strong>AngularJS Crash Course for Beginners</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
