{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  .course-button.selected {
    background-color: #20b825;
    /* Green color for selected courses */
    color: white;
  }

  .messages {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }

  .success {
    background-color: #17691a;
    color: white;
  }

  .error {
    background-color: #f44336;
    color: white;
  }
</style>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
    {{ message }}
    <script>
      setTimeout(function () {
        var messageElement = document.querySelector(".messages");
        if (messageElement) {
          messageElement.remove();
        }
      }, 5000);
    </script>
  </li>
  {% endfor %}
</ul>
{% endif %}

<br />
<h2>Booking Page</h2>

<p>
  Fill out the form below to make a booking. You can select up to three courses.
</p>

<form method="post" action="{% url 'booking' %}">
  {% csrf_token %}

  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name" required />

  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name" required />

  <label>Select Courses (up to 3):</label>

  <div class="form-check">
    {% for course in courses %}
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="courses"
        value="{{ course.id }}"
        id="course{{ course.id }}"
        onclick="checkCourseLimit()"
      />
      <label class="form-check-label" for="course{{ course.id }}">
        {{ course.name }}
      </label>
    </div>
    {% endfor %}
  </div>

  <span id="selectionCount">0</span>/3 courses selected
  <button type="submit" class="btn btn-primary">Submit Booking</button>
</form>

<script>
  var selectedCourses = [];

  function checkCourseLimit() {
    var checkboxes = document.querySelectorAll('input[name="courses"]:checked');

    if (checkboxes.length > 3) {
      alert("You can select up to 3 courses.");
      checkboxes[checkboxes.length - 1].checked = false; // Uncheck the last checkbox
    }

    updateSelectionCount();
  }

  function updateSelectionCount() {
    var checkboxes = document.querySelectorAll('input[name="courses"]:checked');
    document.getElementById("selectionCount").innerHTML = checkboxes.length;
  }
</script>

{% endblock %}
