{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img
          src="{{ course.image_link }}"
          class="card-img-top mb-4"
          alt="Course {{ forloop.counter }} Image"
          style="width: 100%; max-width: 100%; height: auto"
        />
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h2 class="mb-4">{{ course.name }}</h2>
          <p>{{ course.description }}</p>
          <p><strong> Price: {{ course.price }} $ </strong></p>
          <a href="javascript:history.back()" class="btn btn-outline-primary"
            >Go Back</a
          >
          {% if request.user.is_authenticated %}
          <a
            class="btn btn-outline-success"
            style="margin: 20px"
            href="{% url 'booking' %}"
            >Book this Course</a
          >
          {% endif %}

          <!-- Display existing comments -->
          {% if comments %}
          <h4 class="mt-4">Comments:</h4>
          <ul>
            {% for comment in comments %}
            <li>{{ comment.user.username }} - {{ comment.text }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          <!-- Comment form for logged-in users -->
          {% if user.is_authenticated %}
          <h4 class="mt-4">Leave a Comment:</h4>
          <form method="post" action="{% url 'course_detail' course.id %}">
            {% csrf_token %} {{ comment_form.as_p }}
            <button type="submit" class="btn btn-primary">
              Submit Comment
            </button>
          </form>
          {% else %}
          <p class="mt-4">Login to leave a comment.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
