{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Featured Courses</h2>

  <!-- <div class="row">
    {% for i in "0123456789" %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/' %}{{ i }}.jpg"
          class="card-img-top"
          alt="Course {{ i }} Image"
          style="width: 90%; height: 15rem"
        />
        <div class="card-body">
          <h5 class="card-title">Course {{ i }}</h5>
          <p class="card-text">{{ descriptions.i }}</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> -->
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/0.jpg' %}"
          class="card-img-top"
          alt="Course 1"
        />
        <div class="card-body">
          <h5 class="card-title">Course 1</h5>
          <p class="card-text">
            Build an eCommerce platform from the ground up with React, Redux,
            Django & Postgres.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/1.jpg' %}"
          class="card-img-top"
          alt="Course 2"
        />
        <div class="card-body">
          <h5 class="card-title">Course 2</h5>
          <p class="card-text">
            Become an ethical hacker that can hack like black hat hackers and
            secure systems like cybersecurity experts
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/2.jpg' %}"
          class="card-img-top"
          alt="Course 3"
        />
        <div class="card-body">
          <h5 class="card-title">Course 3</h5>
          <p class="card-text">
            Learn about networking and start your journey to Cisco 200-301
            Certification.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/3.jpg' %}"
          class="card-img-top"
          alt="Course 4"
        />
        <div class="card-body">
          <h5 class="card-title">Course 4</h5>
          <p class="card-text">
            Learn Python like a Professional Start from the basics and go all
            the way to creating your own applications and games
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/4.jpg' %}"
          class="card-img-top"
          alt="Course 5"
        />
        <div class="card-body">
          <h5 class="card-title">Course 5</h5>
          <p class="card-text">
            Learn to create Machine Learning Algorithms in Python and R from two
            Data Science experts. Code templates included.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/5.jpg' %}"
          class="card-img-top"
          alt="Course 6"
        />
        <div class="card-body">
          <h5 class="card-title">Course 6</h5>
          <p class="card-text">
            JUST COMPLETELY REDONE! Master SQL, Work With Complex Databases,
            Build Reports, and More!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/6.jpg' %}"
          class="card-img-top"
          alt="Course 7"
        />
        <div class="card-body">
          <h5 class="card-title">Course 7</h5>
          <p class="card-text">
            Learn the Fundamental Concepts of Artificial Intelligence and
            Machine Learning as the Next Game-Changing Technology
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/7.jpg' %}"
          class="card-img-top"
          alt="Course 8"
        />
        <div class="card-body">
          <h5 class="card-title">Course 8</h5>
          <p class="card-text">
            Master the essentials and the tricky bits: rebasing, squashing,
            stashing, reflogs, blobs, trees, & more!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/8.jpg' %}"
          class="card-img-top"
          alt="Course 9"
        />
        <div class="card-body">
          <h5 class="card-title">Course 9</h5>
          <p class="card-text">
            Supercharge Your Data Science Skills with Exercises - Master NumPy
            and Pandas for Effective Data Analysis!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static 'images/image_courses/9.jpg' %}"
          class="card-img-top"
          alt="Course 10"
        />
        <div class="card-body">
          <h5 class="card-title">Course 10</h5>
          <p class="card-text">
            Learn the essentials you'll need to get started with AngularJS.
            Advance your web dev skills to build web apps FAST.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
