{% extends 'base.html' %} {% block content %}

<h2>User Profile</h2>

<br />

<h3>Booked Courses</h3>
{% if booked_courses %}
<ul>
  {% for booking in booked_courses %}
  <li>
    <strong>Username:</strong> {{ user_profile.user.username }} <br />
    <strong>First Name:</strong> {{ booking.first_name }}<br />
    <strong>Last Name:</strong> {{ booking.last_name }}<br />
    <strong>Courses:</strong>
    <ul>
      {% for course in booking.courses.all %}
      <li>{{ course.name }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No booked courses found.</p>
{% endif %} {% endblock %}
