{% extends 'base.html' %}
{% block content %}

<style>
    .messages {
        list-style: none;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
    }

    .success {
        background-color: #17691a;
        color: white;
    }

    .error {
        background-color: #f44336;
        color: white;
    }

    li {
        list-style-type: none;
    }
</style>

<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messagesContainer = document.querySelector('.messages');

            // Remove messages after 5 seconds
            setTimeout(function () {
                if (messagesContainer) {
                    messagesContainer.innerHTML = ''; // Clear the messages
                }
            }, 5000);
        });
    </script>
    {% endif %}
    <hr>
    <p><strong>Username:</strong> {{ user_profile.user.username }}</p>

    {% if booked_courses %}
    <ul>
        {% for booking in booked_courses %}
        <li>
            {% if forloop.counter == 1 %}
            <strong>First Name:</strong> {{ booking.first_name }}<br />
            <strong>Last Name:</strong> {{ booking.last_name }}<br />
            <hr>
            <h3>Booked Courses: </h3><br>
            {% endif %}
            <ul>
                {% for course in booking.courses.all %}
                <li>{{ course.name }}</li>
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-primary" href="{% url 'edit_booking' booking.id %}">Edit</a> |
            <a class="btn btn-primary" href="{% url 'delete_booking' booking.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <p><strong>Total Price of Booked Courses:</strong> ${{ user_profile.total_price_of_booked_courses }}</p>
    
    {% else %}
    <p>No booked courses found.</p>
    {% endif %}

</div>

{% endblock %}